<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', service.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="amount" class="control-label">amount</label>
  <div class="controls">
    <%- contentTag('input', service.amount, {type:'number', class:'span2', name:'amount'}) %>
  </div>
</div>
