<div class="hero-unit">
  <h2>All Services</h2>
  <%- linkTo('Create a new Service', addServicePath, {class: 'btn pull-right'}); %>
</div>

<div id="services-list">
<% if (services) { %>
<% for (var i = 0, ii = services.length; i < ii; i++) { %>
  <div class="row list-item" id="service-<%= services[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(services[i].name, servicePath(services[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= services[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>